// Add SocketPermissions for valid target endpoints
// Each API that loginbuddy should be able to connect to has to be listed
// If you are not sure, use a browser and connect to the openID configuration endpoint of of your desired OpenID Provider
// Take each domain of that document and add them to the list below (see example: connect to demoserver.loginbuddy.net)
// This file will be attached to the default catalina.policy file
//
//
grant codeBase "file:${catalina.home}/webapps/ROOT/-" {
    permission java.net.SocketPermission "demoserver.loginbuddy.net", "connect,resolve";
    permission java.net.SocketPermission "loginbuddy-oidcdr", "connect,resolve";
    // permission java.net.SocketPermission "accounts.google.com", "connect,resolve";
    // permission java.net.SocketPermission "oauth2.googleapis.com", "connect,resolve";
    // permission java.net.SocketPermission "openidconnect.googleapis.com", "connect,resolve";
    // permission java.net.SocketPermission "www.googleapis.com", "connect,resolve";
    // permission java.net.SocketPermission "github.com", "connect,resolve";
    // permission java.net.SocketPermission "api.github.com", "connect,resolve";
    // permission java.net.SocketPermission "www.linkedin.com", "connect,resolve";
    // permission java.net.SocketPermission "api.linkedin.com", "connect,resolve";
    // permission java.net.SocketPermission "appleid.apple.com", "connect,resolve";
    // permission java.net.SocketPermission "auth.pingone.com", "connect,resolve";
       permission java.net.SocketPermission "hazelcast1", "connect,resolve";
       permission java.net.SocketPermission "hazelcast2", "connect,resolve";
};
// [Loginbuddy_DEMOCLIENT]: adding permissions for loginbuddy-democlient to connect to loginbuddy
grant codeBase "file:${catalina.home}/webapps/democlient/-" {
    permission java.util.PropertyPermission "user.dir", "read";
    permission java.util.PropertyPermission "org.jose4j.jws.default-allow-none", "read";
    permission java.util.PropertyPermission "com.fasterxml.jackson.core.util.BufferRecyclers.trackReusableBuffers", "read";
    permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
    permission java.lang.RuntimePermission "getenv.HOSTNAME_LOGINBUDDY", "read";
    permission java.lang.RuntimePermission "getenv.HOSTNAME_LOGINBUDDY_DEMOCLIENT", "read";
    permission java.io.FilePermission "/usr/local/tomcat/ssl/loginbuddy.p12", "read";
    permission java.net.SocketPermission "local.loginbuddy.net", "connect,resolve";
    permission java.net.SocketPermission "hazelcast1", "connect,resolve";
    permission java.net.SocketPermission "hazelcast2", "connect,resolve";

    // permissions related to hazelcast
    permission java.lang.RuntimePermission "getenv.HAZELCAST";
    permission java.lang.RuntimePermission "setContextClassLoader";
    permission java.lang.RuntimePermission "enableContextClassLoaderOverride";
    permission java.lang.RuntimePermission "getFileSystemAttributes";
    permission java.util.PropertyPermission "java.io.tmpdir", "read";
    permission java.util.PropertyPermission "user.home", "read";
    permission java.util.PropertyPermission "hazelcast.*", "read";
    permission java.util.PropertyPermission "com.hazelcast.*", "read";
    permission java.net.SocketPermission "localhost:0", "listen,resolve";
    permission javax.management.MBeanServerPermission "createMBeanServer";
    permission java.io.FilePermission "/root", "read";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.management";
    permission java.util.PropertyPermission "sun.arch.data.model", "read";
    permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.util.PropertyPermission "user.dir", "read";
};
// [Loginbuddy_DEMOSERVER]: adding permissions for loginbuddy-demoserver
grant codeBase "file:${catalina.home}/webapps/demoserver/-" {
    permission java.util.PropertyPermission "org.jose4j.jws.default-allow-none", "read";
    permission java.lang.RuntimePermission "getenv.HOSTNAME_LOGINBUDDY_DEMOSERVER";
    permission java.net.SocketPermission "hazelcast1", "connect,resolve";
    permission java.net.SocketPermission "hazelcast2", "connect,resolve";

    // permissions related to hazelcast
    permission java.lang.RuntimePermission "getenv.HAZELCAST";
    permission java.lang.RuntimePermission "setContextClassLoader";
    permission java.lang.RuntimePermission "enableContextClassLoaderOverride";
    permission java.util.PropertyPermission "java.io.tmpdir", "read";
    permission java.util.PropertyPermission "user.home", "read";
    permission java.util.PropertyPermission "hazelcast.*", "read";
    permission java.util.PropertyPermission "com.hazelcast.*", "read";
    permission java.net.SocketPermission "localhost:0", "listen,resolve";
    permission javax.management.MBeanServerPermission "createMBeanServer";
    permission java.lang.RuntimePermission "getFileSystemAttributes";
    permission java.io.FilePermission "/root", "read";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.management";
    permission java.util.PropertyPermission "sun.arch.data.model", "read";
    permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.util.PropertyPermission "user.dir", "read";
};