<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <display-name>Loginbuddy Demo Client</display-name>

    <servlet>
        <servlet-name>ClientInitialize</servlet-name>
        <servlet-class>net.loginbuddy.democlient.Initialize</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ClientCallback</servlet-name>
        <servlet-class>net.loginbuddy.democlient.Callback</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClientInitialize</servlet-name>
        <url-pattern>/initialize</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ClientCallback</servlet-name>
        <url-pattern>/callback</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>

<!--    <resource-env-ref>-->
<!--        <description>Object factory for Cache instances</description>-->
<!--        <resource-env-ref-name>bean/CacheFactory</resource-env-ref-name>-->
<!--        <resource-env-ref-type>net.loginbuddy.common.cache.DefaultCache</resource-env-ref-type>-->
<!--    </resource-env-ref>-->

</web-app>