// Permissions to use Hazelcast client libraries
// They are copied into Loginbuddy images by default but only enabled when
// hazelcast is enabled. Enabling Hazelcast is done by adding the environment
// variable 'HAZELCAST=hazelcastServer1:port,hazelcastServer2:port,....'
//
grant codeBase "file:${catalina.home}/webapps/ROOT/-" {

    // permissions related to hazelcast
    permission java.lang.RuntimePermission "setContextClassLoader";
    permission java.lang.RuntimePermission "enableContextClassLoaderOverride";
    permission java.util.PropertyPermission "java.io.tmpdir", "read";
    permission java.util.PropertyPermission "user.home", "read";
    permission java.util.PropertyPermission "hazelcast.*", "read";
    permission java.util.PropertyPermission "com.hazelcast.*", "read";
    permission java.net.SocketPermission "localhost:0", "listen,resolve";
    permission javax.management.MBeanServerPermission "createMBeanServer";
    permission java.lang.RuntimePermission "getFileSystemAttributes";
    permission java.io.FilePermission "/root", "read";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.management";
    permission java.lang.RuntimePermission "accessClassInPackage.com.sun.management.internal";
    permission java.util.PropertyPermission "sun.arch.data.model", "read";
    permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
    permission java.util.PropertyPermission "user.dir", "read";
    permission java.lang.RuntimePermission "accessDeclaredMembers";

    // required since hazelcast 5.2.1
    permission java.lang.RuntimePermission "createClassLoader";
};