# Compiled class file
target/

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Mac
.DS_Store

# Intellij
.idea/
*.iml
*.iws
*.ipr

# SOAPUI
apitest/soapui/project/*workspace.xml
apitest/soapui/properties/*.properties
!apitest/soapui/properties/template*.properties

# temporary test files
apitest/tempfiles/*

# local docker files
docker-build/add-ons/local/

# personal docker-compose file
docker-compose-sascha.yml

# images - logos
**.png
!**/simple_overview_01.png