# Compiled class file
target/

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Mac
.DS_Store

# Intellij
.idea/
*.iml
*.iws
*.ipr

# SOAPUI
apitest/soapui/project/*workspace.xml
apitest/soapui/properties/*.properties
apitest/soapui/testresults/*
!apitest/soapui/properties/template*.properties

# temporary test files
apitest/tempfiles/*
net.loginbuddy.test/src/test/resources/config.json
apitest/docker/testCustomLoginbuddyConfig.json

# files for local development
dev
!dev/.env_template
.env

# images - logos
**.png
!net.loginbuddy.service/web/images/*.png
!docker-build/add-ons/demosetup/*.png
!doc/intellij-logo.png