<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <filter>
        <filter-name>httpHeaderSecurity</filter-name>
        <filter-class>org.apache.catalina.filters.HttpHeaderSecurityFilter</filter-class>
        <init-param>
            <param-name>hstsEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>antiClickJackingEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>antiClickJackingOption</param-name>
            <param-value>DENY</param-value>
        </init-param>
        <init-param>
            <param-name>blockContentTypeSniffingEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>xssProtectionEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
        <init-param>
            <param-name>cors.allowed.origins</param-name>
            <param-value>*</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.methods</param-name>
            <param-value>POST</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.headers</param-name>
            <param-value>Content-Type,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
        </init-param>
        <init-param>
            <param-name>cors.exposed.headers</param-name>
            <param-value>Access-Control-Allow-Origin</param-value>
        </init-param>
        <init-param>
            <param-name>cors.preflight.maxage</param-name>
            <param-value>10</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern> /token </url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>httpHeaderSecurity</filter-name>
        <url-pattern>/error.jsp</url-pattern>
        <url-pattern>/providers.jsp</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>jsp</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>fork</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>xpoweredBy</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <!-- Load the configuration. No servlet-mapping required -->
    <servlet>
        <servlet-name>Bootstrap</servlet-name>
        <servlet-class>net.loginbuddy.service.server.Overlord</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Initialize</servlet-name>
        <servlet-class>net.loginbuddy.service.client.Initialize</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Callback</servlet-name>
        <servlet-class>net.loginbuddy.service.client.Callback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authorize</servlet-name>
        <servlet-class>net.loginbuddy.service.server.Authorize</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorizePar</servlet-name>
        <servlet-class>net.loginbuddy.service.server.AuthorizePar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Token</servlet-name>
        <servlet-class>net.loginbuddy.service.server.Token</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Discovery</servlet-name>
        <servlet-class>net.loginbuddy.service.server.Discovery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Jwks</servlet-name>
        <servlet-class>net.loginbuddy.service.server.Jwks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Userinfo</servlet-name>
        <servlet-class>net.loginbuddy.service.resources.Userinfo</servlet-class>
    </servlet>

    <!-- Loginbuddy token management -->
    <servlet>
        <servlet-name>TokenManagement</servlet-name>
        <servlet-class>net.loginbuddy.service.management.Token</servlet-class>
    </servlet>

    <!-- Loginbuddy configuration management -->
    <servlet>
        <servlet-name>Configuration</servlet-name>
        <servlet-class>net.loginbuddy.service.management.Configuration</servlet-class>
    </servlet>

    <!-- Loginbuddy runtime management -->
    <servlet>
        <servlet-name>Runtime</servlet-name>
        <servlet-class>net.loginbuddy.service.management.Runtime</servlet-class>
    </servlet>

    <!-- The mapping for the default servlet -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- The mappings for the JSP servlet -->
    <servlet-mapping>
        <servlet-name>jsp</servlet-name>
        <url-pattern>*.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Initialize</servlet-name>
        <url-pattern>/initialize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Callback</servlet-name>
        <url-pattern>/callback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authorize</servlet-name>
        <url-pattern>/providers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authorize</servlet-name>
        <url-pattern>/authorize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorizePar</servlet-name>
        <url-pattern>/pauthorize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Token</servlet-name>
        <url-pattern>/exchange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Token</servlet-name>
        <url-pattern>/token</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Discovery</servlet-name>
        <url-pattern>/.well-known/openid-configuration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Jwks</servlet-name>
        <url-pattern>/jwks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Userinfo</servlet-name>
        <url-pattern>/userinfo</url-pattern>
    </servlet-mapping>

    <!-- Loginbuddy token management -->
    <servlet-mapping>
        <servlet-name>TokenManagement</servlet-name>
        <url-pattern>/management/token</url-pattern>
    </servlet-mapping>

    <!-- Loginbuddy configuration management -->
    <servlet-mapping>
        <servlet-name>Configuration</servlet-name>
        <url-pattern>/management/configuration/*</url-pattern>
    </servlet-mapping>

    <!-- Loginbuddy runtime management -->
    <servlet-mapping>
        <servlet-name>Runtime</servlet-name>
        <url-pattern>/management/runtime/*</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>400</error-code>
        <location>/iapis/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/iapis/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/iapis/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/iapis/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/iapis/error.jsp</location>
    </error-page>

    <security-constraint>
        <display-name>Security for Loginbuddy configuration</display-name>
        <web-resource-collection>
            <web-resource-name>internal_apis</web-resource-name>
            <url-pattern>/iapis/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>HTTPSOnly</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>HTTPSOrHTTP</web-resource-name>
            <url-pattern>/favicon.ico</url-pattern>
            <url-pattern>/images/*</url-pattern>
            <url-pattern>/css/*</url-pattern>
            <url-pattern>/fonts/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-role>
        <role-name>admin</role-name>
    </security-role>

    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>

    <mime-mapping>
        <extension>json</extension>
        <mime-type>application/json</mime-type>
    </mime-mapping>

</web-app>